html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
  }

.header-container {
    display: flex;
    margin: 30px;
}

.header-insta {
    margin-right: auto;
}
