html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
  }

.header-container {
    display: flex;
    margin: 30px;
}

.header-insta {
    margin-right: auto;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img {
    height: auto;
    width: 100px;
}

.books-container {

}

.info {

}
