html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
  }

body {
    background-color: rgb(225, 240, 255);
}

a:link {
    text-decoration: none;
    color: rgb(3, 10, 41);
    font-weight: 300;
}

.header-container {
    display: flex;
    border: solid black 2px;
    padding: 25px;
    background-color: rgb(3, 77, 168);
    font-size: 20px;
    font-weight: 900;
    justify-content: space-between;
    flex: initial;
    gap: 16px;
    max-width: 100%;
}

.header-nav {
    display: flex;
    margin: 0;
    padding: 0;
}

a.nav-color {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img {
    height: auto;
    width: 150px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin: 32px;
    color: black;
}

.quote-border {
    border: 2px solid black;
    margin-bottom: 64px;
    background-color: rgb(3, 77, 168);
}

.quote-container {
    font-size: 20px;
    font-weight: 900;
    margin: 0 20% 0 20%;
    color: white;
}

.books-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    column-gap: 10%;
    flex-wrap: wrap;
    flex: initial;
    margin: 0% 10% 0% 10%;
}

.info {
    max-width: 150px;
}

.footer-container {
    display: flex;
    border: solid black 2px;
    padding: 5px 25px 5px 25px;
    background-color: rgb(3, 77, 168);
    font-size: 13px;
    font-weight: 900;
    justify-content: space-between;
    flex: initial;
    gap: 16px;
    max-width: 100%;
    margin-top: 32px;
}

.footer-nav {
    display: flex;
    margin: 0;
    padding: 0;
}

a.footer-color {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}
