html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
  }

.header-container {
    display: flex;
    border: solid black 2px;
    padding: 30px;
    background-color: rgb(85, 169, 247);
}

.header-insta {
    margin-right: auto;
}

.container {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img {
    height: auto;
    width: 150px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin: 32px;
}

.books-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
    flex: initial;
}

.info {
    max-width: 150px;
}
